/*
.card{
  border: 1 px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 10%, 0.1);
  padding: 30px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-mage{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}

.student{
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);
}
.student p{
  margin: 0;
}

.welcome-message {
  color: green;
}

.login-prompt {
  color: red;
}

.list-category {
  font-weight: bold;
  margin-top: 20px;
}
.list-items li{
  margin-left: 20px;
}
.list-items li:nth-child(odd) {
  background-color: hsl(0, 0%, 90%);
}
.list-items li:nth-child(even) {
  background-color: hsl(0, 0%, 95%);
}
.list-items li:hover {
  background-color: hsl(0, 0%, 80%);
  cursor: pointer;
}
  */

/* body{
  font-family: Arial, sans-serif;
}
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 50px;
  font-size: 3rem;
}
.color-picker{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}
.color-picker p{
  font-size: 2rem;
  color: hsl(0, 0%, 20%);
  text-align: center;
}
label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="color"]{
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
} */

body {
  background: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  /* OPTIONAL */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.clock-container {
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;
}
.clock {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);

}